.card-register{
  width: 600px;
  margin-top: 1%;

}
.card-logo{
  display: block;
  text-align: center;
}
.completeName{
  float: left;
  display: inline;
}
.textarea--code {
  font-size: 12px;
  line-height: normal;
  padding: 10px;
  transition: none;
  -webkit-transition: none;
}